*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #505050;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 999;

}
.logo{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    left: 50px;
    top: 30px;
    left: -390px;
    top: 18px;
}
nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    /* left: 600px;
     top: 30px */
} 
nav ul li{

    list-style: none;
    margin: 20px;
    position: relative;
    left: 400px;
    top: 9px;

}
nav ul li a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.main_section{
    
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
    padding-top: 250px;
    padding-bottom: 175px;
    padding-left: 100px;
    /* margin-left: 30px; */
}

.main_section h4{

    font-size: 40px;
    margin: 10px;
    color: white;
    margin-left: 30px;

}
.main_section h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.main_section h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.main_section button{
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-left: 40px;
    background-color: #504f4f;
    border: none;
    color: white;
    transition: 0.7s ease;
}
button:hover{
    
    transform: scale(1.1);
    background-color: #414141;
    cursor: pointer;
}

.social-icons{
    margin-left: 40px;
    margin-top: 30px;
    
}
.social-icons a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
}
