*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: ease; */
}
html {
  scroll-behavior: smooth;
}

header{
    background-color: #505050;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);

}
.logo{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    /* position: relative;
    left: 50px;
    top: 30px;
    left: -390px;
    top: 18px; */
    margin: 20px;
    margin-right: auto;
}
nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    /* left: 600px;
     top: 30px */
} 
nav ul li{

    list-style: none;
    margin: 20px;
    /* position: relative;
    left: 400px;
    top: 9px; */

}
nav ul li a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.main_section{
    
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
    padding-top: 250px;
    padding-bottom: 175px;
    padding-left: 100px;
    /* margin-left: 30px; */
}

.main_section h4{

    font-size: 40px;
    margin: 10px;
    color: white;
    margin-left: 30px;

}
.main_section h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.main_section h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.main_section button{
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-left: 40px;
    background-color: #504f4f;
    border: none;
    color: white;
    transition: 0.7s ease;
}
button:hover{
    
    transform: scale(1.1);
    background-color: #414141;
    cursor: pointer;
}

.social-icons{
    margin-left: 40px;
    margin-top: 30px;
    
}
.social-icons a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.cards{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
}
.content-cards{

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    /* padding: 300px;
    padding-left: 400px; */

}
.cards h2{
    padding-top: 120px;
    font-size: 56px;
    color: #505050;
    /* padding-left: 600px; */
}
.card{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    margin-bottom: 2%;
    width: 400px;
    height: 250px;
    border-radius: 15px;
    /* margin: 20px; */
    transition: 0.7s ease;
    /* padding: 20px; */
    /* font-size: ; */
    text-align: center;
    margin-top: 25%;
    /* margin-left: ; */
    margin-bottom: 22%;
}

.card i{
    margin-top: 40px;
    font-size: 40px;
}

.address{
    font-size: 26px;
    color: #b4b4b4;

}
.card p{
    font-size: 22px;
    color: white;
    margin-bottom: 30px;
}
.card:hover{
    transform: scale(1.1);
    /* background-color: #414141; */
    cursor:zoom-in;
}
.web-card{

    margin-right: 40px;
}
.Data-card{

    margin-left: 40px;
}

.projects{
    background-color: #4c4b47;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */

    /* margin-left: auto; */

}
.projects h2{
    padding-top: 120px;
    font-size: 56px;
    color: white;
    /* padding-left: 600px; */
}

.content-projects{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* columns: 3; */
    /* padding: 300px;

    padding-left: 400px; */
}

.content-projects .card{
    width: 300px;
    margin-top: 150px;
    margin: 50px;
    background-color: #b4b4b4;
}

.img_div{
    width: auto;
    height: auto;
    

}
.img_div img{
    width: 300px;
    height: 200px;
    border-radius: 15px;

}
.content-projects a{
    font-size: 22px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.certificates{
    background-color: #30302f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.certificates h2{
    padding-top: 120px;
    font-size: 56px;
    color: white;
    /* padding-left: 600px; */
}

.certificates .cards{
    background-color: #30302f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* columns: 3; */
    /* padding: 300px;
    padding-left: 400px; */
}
.certificates .cards .card{
    width: 300px;
    height: 200px;
    margin-top: 150px;
    margin: 50px;
    background-color: #505050;
    border: none;
    margin-bottom: 100px;
}
.card img{
    transition: ease;
    width: 290px;
    height: 195px;
    border-radius: 15px
    
}
.certificates .card:hover{
    transform: scale(2);
    cursor: zoom-in;
}

.contact {
    background-color: #474747;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact h2{
        padding-top: 120px;
    font-size: 56px;
    color: white;
    /* padding-left: 600px; */
}
.contact .cards{
    background-color: #474747;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 170px;
    /* columns: 3; */
    /* padding: 300px;
    padding-left: 400px; */
}
.contact .cards .card{
    width: 300px;
    height: 200px;
   
    margin: 50px;
    background-color: #30302f;
    border: none;
    margin-bottom: 100px;
}