*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #505050;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 999;

}
.logo{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    left: 50px;
    top: 30px;
    left: -390px;
    top: 18px;
}
nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    /* left: 600px;
     top: 30px */
} 
nav ul li{

    list-style: none;
    margin: 20px;
    position: relative;
    left: 400px;
    top: 9px;

}
nav ul li a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

