
body{
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

 .name-box { background: #f1f1f1;
     margin: 10px auto;
     padding: 15px; 
    width: 200px; 
    border-radius:
     10px; }
.copy-btn { margin-top: 5px;
     background:
     #2563eb;
     color: white;
     border: none; 
    padding: 5px 10px;
     border-radius: 5px; 
    cursor: pointer;
 }

 #results{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: row;
     margin-top: 300px;
 }