body {
    margin: 0;
    background: linear-gradient(rgb(63, 141, 231), lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    position: relative;
    padding: 2rem;
  }

  .clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-3px);
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .hour-hand {
    background: red;
  }

  .min-hand {
    background: black;
  }

  .second-hand {
    background: yellow;
  }

  button {
    background-color: black;
    color: white;
    border-radius: 20%;
    font-size: 2.3rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    left: 5.5rem;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
}