body {
  background-image: linear-gradient(yellow, blue, rgb(255, 255, 0));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

#clock {
  font-size: 60px;
  color: #000000;
  position: relative;

  left: 1130px;
}

.about-me{
    position: relative;
    left: 10px;
}

.card {
  background-color: aqua;
  width: 300px;
  height: 280px;
  border-radius: 20px;
  text-align: center;
    position: relative;
  align-items: center;
}

 .logo{
    color: blue;
    position: relative;
    left: 45rem;
 }

.travel-card {
    left: 900px;
    bottom: 250px;
}
.protofolio-card{
   left: 300px;
    top: 80px;
}

img {
  width: 100%;
  height: 200px;
  position: relative;
}

a{
    background: linear-gradient(to right,blue,#a53361);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    position: relative;
    top: 10px;
    right: 10px
    
}
