body{
    background-color: peachpuff;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
 font-family: 'Times New Roman', Times, serifx;
 
}
a{
    color: slateblue;
}
nav ul{
    background-color:saddlebrown;
    border-color: seashell;
    border-width: 2px;
    border-style:solid;
    border-radius: 10px;
    padding: 10px;
}
nav ul li{
    display: inline;
    color: papayawhip;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type:none;
}
nav ul li a{
    text-decoration: none;
    color:olive;
}

   
div{

    padding-bottom: 40%;
}
table,th,td{
    border: 3px solid honeydew;
}
tr{
    background-color: palegoldenrod;
}
td{
    padding: 5px;
    text-align: left;
    color: purple;
    vertical-align: top ;
}
iframe{
   width: 100%;
   height: 800px;
   border: 3px solid  seashell; 
   border-radius: 3%;
}

